<main class="main">
  <div class="content">
    <h1>Catálogo de Categorias</h1>
    <p>Clique no botão abaixo para carregar as categorias da nossa API.</p>

    <!-- Botão que chama a função no componente -->
    <button (click)="buscarCategorias()" class="btn-buscar">
      <span class="material-icons">sync</span>
      Buscar Categorias
    </button>

    <hr>

    <!-- Seção de resultados -->
    <div class="resultados">
      @if (categorias().length > 0) {
      <ul>
        <!-- Loop para exibir cada categoria da lista -->
        @for (cat of categorias(); track cat.categoriaId) {
        <li>{{ cat.nome }}</li>
        }
      </ul>
      } @else {
      <p class="sem-resultados">Nenhuma categoria encontrada.</p>
      }
    </div>
  </div>
</main>

<router-outlet />
